* {
  font-family: sans-serif, Helvetica;
}

body{
  padding: 60px;
  background-color: slateblue;
  color: #fff;
}

button{
  background: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: slateblue;
  font-weight: 600;
  font-size: 16px;
}

input{
  width: 100%;
  font-size: 16px ;
  color: slateblue;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 0 10px 10px 0;
  overflow: hidden;
}

.card p{
  padding:5px;
  text-align: center;
}

.card img{
  max-height: 170px;
}